# MongoDB Configuration
MONGO_URI=mongodb+srv://khaitien600_db_user:<db_password>@cluster0.fosfl7w.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=cosmetics_db
DB_NAME=cosmetics_db

# Environment
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Server Configuration
PORT=3000
API_PREFIX=api
